body {
  background-image: url('https://c.tenor.com/cABk6XaDt_YAAAAM/sigma-roblox.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
a{
  text-decoration: aquamarine;
  font-size: 28px;  
  color: rgb(1, 67, 153);
}